[submodule "DRAMSim2"]
    path = DRAMSim2
    url = git@github.com:s-kanev/DRAMSim2.git
    update = merge
    fetchRecurseSubmodules = true
[submodule "mem-repeater"]
	path = mem-repeater
	url = file:///home/skanev/zesto_repeater
    update = merge
    fetchRecurseSubmodules = true
